/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Navigation Styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

/* Footer */
footer{
    color: white;
    background-color: black;
    width: 100%;
    padding: 10px 20px;
}
footer a{
    color: rgb(1, 186, 223);
    text-decoration: none;
}
footer p{
    display: flex;
    flex-direction: column;
    line-height: 25px;
}
/* Mobile Menu Styles */
#mobile-menu {
    width: 100%;
    display: block;
    text-align: center;
}
#general-menu{
    width: 100%;
    display: none;
}
#general-menu ul{
 list-style-type: none;
 display: inline;
 text-align: right;
}

@media screen and (min-width: 768px){
    #mobile-menu {
        display: none;
    }
    #general-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}