@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap')
/* Usage:
.sedgwick-ave-regular {
  font-family: "Sedgwick Ave", cursive;
  font-weight: 400;
  font-style: normal;
}
*/