/* Global Styles */
*{
    box-sizing:border-box; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ecff5e;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Navigation Styles */
nav {
    background-color: black;
    color: #fff646;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}
.menu {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.menu li {
    display: inline;
}
.menu li a {
    color: #fff646;
    text-decoration: none;
    padding: 10px;
}
/* Footer */
footer{
    background-color: black;
    color: #fff646;
    width: 100%;
    padding: 10px 20px;
    clear: both;
}
footer a{
    color: rgb(255, 240, 70);
    text-decoration: none;
}
footer p{
    display: flex;
    flex-direction: column;
    line-height: 25px;
}
/* Mobile Menu Styles */
#mobile-menu {
    width: 100%;
    display: block;
    text-align: center;
}
#general-menu{
    width: 100%;
    display: none;
}
#general-menu ul{
 list-style-type: none;
 display: inline;
 text-align: right;
}
/* Style for the search bar container */
.search-container {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 5px;
    background-color: black;
    color: #fff646; 
    border: 1px solid #fff646;
    border-radius: 5px;
    padding: 5px;
}

/* Style for the input field */
.search-input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: #fff646;
    outline: none;
}

/* Style for the search icon */
.search-icon {
    margin-right: 10px;
    color: #fff646;
}
/* Hover effect for search container*/
.search-container:hover {
    transition: 1s;
    background-color: rgb(54, 54, 54);
}

/*Picture with button style*/

.picture-with-btn-wrapper .img-dimmer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Adjust the alpha value for desired dimness */
}

.picture-with-btn-wrapper button{
    display: inline-block;
    white-space: nowrap;
    padding: 5px 8px;
    font-size: 1em;
    color: rgb(255, 255, 255);
    background-color: rgb(198, 96, 0);
    border: 2px solid rgb(230, 165, 0);
    border-radius: 5px;
    font-family: "Sedgwick Ave", cursive;
    font-weight: 400;
    font-style: normal;
}

/* FOR DESKTOP, MEDIA OVER 768px! */
@media screen and (min-width: 768px){
    main.flex-big {
        display: flex;
    }
    #mobile-menu {
        display: none;
    }
    #general-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .container-inline-big {
        width: 30%;
        max-width: 500px;
        margin: 0 12px 0 12px;
        float:left;
        flex: 1;
    }

}