/* THis is for the Masking */
#mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* Apply the masking effect */
    -webkit-backdrop-filter: brightness(0.5);
    backdrop-filter: brightness(0.5);
    /* Define how the mask should repeat or not */
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    /* Define the positioning of the mask */
    -webkit-mask-position: center center;
    mask-position: center center;
    /* Define the size of the mask */
    -webkit-mask-size: cover;
    mask-size: cover;
    z-index: 95;
    pointer-events: all;
}
#mask.active{
    display: block;
}
/* For timeline */
.timeline .timeline-header {
    width: 6em;
    text-align: center;
}
.timeline .timeline-item {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    position: relative;
    border-left: 0.1rem solid #b5b5b5;
    margin-left: 3em;
    padding-bottom: 2em;
}
.timeline .timeline-item::before {
    background: white;
    border: 0.1em solid #b5b5b5;
    border-radius: 100%;
    content: "";
    display: block;
    height: 0.8rem;
    left: -0.45em;
    position: absolute;
    top: 1.2rem;
    width: 0.8rem;
}
.timeline .timeline-item .timeline-tag {
    position: absolute;
    width: 0.8em;
    left: -0.4em;
    height: 0.8em;
    top: 1.2em;
}
.timeline .timeline-item .timeline-tag .image {
    width: 32px;
    height: 32px;
    left: -12px;
    background: white;
    border: 0.1em solid #b5b5b5;
    border-radius: 100%;
    display: block;
    overflow: hidden;
}
.timeline .timeline-item .timeline-content {
    padding: 1em 0 0 0.5em;
    padding: 1em 0 0 2em;
}
.timeline .timeline-item .timeline-content .heading {
font-weight: 500;
}
.timeline .timeline-item.is-white {
border-left-color: white;
}
.timeline .timeline-item.is-white::before {
border-color: white !important;
}
.timeline .timeline-item.is-white .timeline-tag .image {
border-color: white !important;
}
.timeline .timeline-item.is-black {
border-left-color: #0a0a0a;
}
.timeline .timeline-item.is-black::before {
border-color: #0a0a0a !important;
}
.timeline .timeline-item.is-black .timeline-tag .image {
border-color: #0a0a0a !important;
}
.timeline .timeline-item.is-light {
border-left-color: whitesmoke;
}
.timeline .timeline-item.is-light::before {
border-color: whitesmoke !important;
}
.timeline .timeline-item.is-light .timeline-tag .image {
border-color: whitesmoke !important;
}
.timeline .timeline-item.is-dark {
border-left-color: #363636;
}
.timeline .timeline-item.is-dark::before {
border-color: #363636 !important;
}
.timeline .timeline-item.is-dark .timeline-tag .image {
border-color: #363636 !important;
}
.timeline .timeline-item.is-primary {
border-left-color: #00d1b2;
}
.timeline .timeline-item.is-primary::before {
border-color: #00d1b2 !important;
}
.timeline .timeline-item.is-primary .timeline-tag .image {
border-color: #00d1b2 !important;
}
.timeline .timeline-item.is-info {
border-left-color: #3273dc;
}
.timeline .timeline-item.is-info::before {
border-color: #3273dc !important;
}
.timeline .timeline-item.is-info .timeline-tag .image {
border-color: #3273dc !important;
}
.timeline .timeline-item.is-success {
border-left-color: #23d160;
}
.timeline .timeline-item.is-success::before {
border-color: #23d160 !important;
}
.timeline .timeline-item.is-success .timeline-tag .image {
border-color: #23d160 !important;
}
.timeline .timeline-item.is-warning {
border-left-color: #ffdd57;
}
.timeline .timeline-item.is-warning::before {
border-color: #ffdd57 !important;
}
.timeline .timeline-item.is-warning .timeline-tag .image {
border-color: #ffdd57 !important;
}
.timeline .timeline-item.is-danger {
border-left-color: #ff3860;
}
.timeline .timeline-item.is-danger::before {
border-color: #ff3860 !important;
}
.timeline .timeline-item.is-danger .timeline-tag .image {
border-color: #ff3860 !important;
}

/* For each image */
img{
    border-radius: 5px;
}
/* Style for the search results display box */
.searchbar-wrapper{
    position: relative !important;
    display: none;
}
.searchbar-wrapper.active{
    display: block;
}
#searchResultsDisplayBox {
    position: absolute;
    top: 100%; /* Position below the search input */
    left: 0;
    width: 100%; /* Stretch to full width */
    background-color: #fff; /* Background color */
    border: 1px solid #ccc; /* Border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
    z-index: 96; /* Ensure it appears above other elements */
    display: none; /* Initially hidden */
    max-height: 150px;
    overflow-y: scroll;
}
#searchResultsDisplayBox.active {
    display: block !important;
}
/* Style for search result items */
#searchResultsDisplayBox .search-result {
    padding: 10px;
    border-bottom: 1px solid #eee; /* Separator between items */
}

/* Style for search result titles */
#searchResultsDisplayBox .search-result-title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
